.pnp.*

# Yarn zero-install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/unplugged
!.yarn/unplugged/**/node_modules

node_modules/
coverage/

dist/
